# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Prgrming Wrkshp/PuTTYpackage/portaPuTTY/.putty/randomseed
Prgrming Wrkshp/PuTTYpackage/portaPuTTY/.putty/randomseed
Functional Prgrmng/Ex07/ex7-302188347-201531290.bak
Prgrming_Wrkshp/Ex06/Ex06/Ex06.opensdf
Prgrming_Wrkshp/Ex06/Ex06/Ex06.sdf
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.pdb
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.exe
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.ilk
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.exe
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.ilk
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.exe
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.exe
Prgrming_Wrkshp/Ex06/Ex06/Debug/Ex06.exe
Prgrming_Wrkshp/Ex06/Ex06/Ex06/Debug/vc120.pdb
Prgrming_Wrkshp/Ex06/Ex06/Ex06/Debug/vc120.idb
Prgrming_Wrkshp/Ex06/Ex06/Ex06/Debug/main1.obj
Prgrming_Wrkshp/Ex06/Ex06/Ex06/Debug/Ex06.tlog/unsuccessfulbuild